extends layout

block content
    .userContainer
        p.headerText ADD/CHANGE ADMIN
        .newUser
            form#newUserForm(action="/submitAdmin")
                .fieldContainer
                    label FIRST NAME
                    input(type="text" placeholder="First Name" name="firstName")
                .fieldContainer
                    label LAST NAME
                    input(type="text" placeholder="Last Name" name="lastName")
                .fieldContainer
                    label USERNAME
                    input(type="text" placeholder="Username" name="userName")
                .fieldContainer
                    label PASSWORD
                    input(type="password" placeholder="Password" name="password")
                .fieldContainer.hidden
                    input(type="text" name="type" value="admin")
                .clearFloat
        button#submitAdmin.hidden(style="float:right;margin-top:10px;background-color:#9E9E9E") Submit
        
        p.headerText ADMINISTRATORS
        .usersList
            each admin in admins
                -var dateStr = "NA"
                -if(typeof admin.dateCreated !== 'undefined')
                    -var year = admin.dateCreated.getFullYear()
                    -var month = admin.dateCreated.getMonth() + 1
                    -var date = admin.dateCreated.getDate()
                    -dateStr = month + "/" + date + "/" + year
                a(href="/userManagement/editRecord/"+admin._id+'?type='+admin.type)
                    .listUser
                        p.strong.firstName=admin.firstName
                        p.strong.lastName=admin.lastName
                        p._id=admin._id
                        p.dateCreated Created: #{dateStr}
                        span.deleteAdmin(style="float:right; font-size: 30px; padding-right: 20px;") &times;
                        .clearFloat


    a.adminTemplate.hidden
        .listUser
            p.strong.firstName
            p.strong.lastName
            p._id
            p.dateCreated
            span.deleteAdmin(style="float:right; font-size: 30px; padding-right: 20px;") &times;
            .clearFloat
    
    script.
        $('#submitAdmin').on('click',function(){
            var data = $('form#newUserForm').serialize();
            $.ajax({
                type:"POST",
                url:"/userManagement/submitAdmin",
                data:data,
                success:function(data){
                    // Add failure prompt
                    toastr.success("User has been successfully added!")
                    appendToList(data.admin);
                },
                dataType:"json"
            })
        })

        $('input').on('change keypress',function(){
            $('#submitAdmin').removeClass('hidden');
        })

        $('.deleteAdmin').on('click',function(e){
            e.preventDefault();
            if(confirm("Are you sure you want to delete this admin?")){
                var id = $(this).parent().find('._id').text();
                $(this).parent().remove()
                var data = {_id: id, collection: "admins"};
                $.ajax({
                    type:"POST",
                    url:"/userManagement/deleteRecord",
                    data:data,
                    success:function(data){
                        toastr.success("Admin has been successfully deleted.")
                    },
                    dataType:"json"
                })
            }
        })

        function appendToList(admin){
            var $newAdmin = $('.adminTemplate').clone().removeClass('adminTemplate hidden')
            debugger;
            for(key in admin){
                if(key === "dateCreated"){
                    var date = new Date(admin.dateCreated);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var date = date.getDate();
                    dateStr = month + "/" + date + "/" + year
                    $newAdmin.find('.'+key).text("Created: " + dateStr)
                }else
                    $newAdmin.find('.'+key).text(admin[key])
            }
            var href = '/userManagement/editRecord/' + admin._id + '?type=' + admin.type
            $newAdmin.attr('href',href)

            $('.usersList').append($newAdmin)
        }