extends layout

block content
    .userContainer
        p.headerText ADD/CHANGE LINE MANAGER
        .newUser
            form#newUserForm(action="/submit")
                .fieldContainer
                    label FIRST NAME
                    input(type="text" placeholder="First Name" name="firstName")
                .fieldContainer
                    label LAST NAME
                    input(type="text" placeholder="Last Name" name="lastName")
                .fieldContainer
                    label USERNAME
                    input(type="text" placeholder="Username" name="userName")
                .fieldContainer
                    label PASSWORD
                    input(type="password" placeholder="Password" name="password")
                .fieldContainer.hidden
                    input(type="text" name="type" value="lineManager")
                .clearFloat
        button#submitLM.hidden(style="float:right;margin-top:10px;background-color:#9E9E9E") Submit
        
        p.headerText LINE MANAGERS
        .usersList
            each lm in lms
                -var dateStr = "NA"
                -if(typeof lm.dateCreated !== 'undefined')
                    -var year = lm.dateCreated.getFullYear()
                    -var month = lm.dateCreated.getMonth()
                    -var date = lm.dateCreated.getDate()
                    -dateStr = month + "/" + date + "/" + year
                a(href="/userManagement/editRecord/"+lm._id+'?type='+lm.type)
                    .listUser
                        p.strong.firstName=lm.firstName
                        p.strong.lastName=lm.lastName
                        p._id=lm._id
                        p.dateCreated Created: #{dateStr}
                        span.deleteLM(style="float:right; font-size: 30px; padding-right: 20px;") &times;
                        .clearFloat


    a.lmTemplate.hidden
        .listUser
            p.strong.firstName
            p.strong.lastName
            p._id
            p.dateCreated
            span.deleteLM(style="float:right; font-size: 30px; padding-right: 20px;") &times;
            .clearFloat

    script.
        $('#submitLM').on('click',function(){
            var data = $('form#newUserForm').serialize();
            $.ajax({
                type:"POST",
                url:"/userManagement/submitLM",
                data:data,
                success:function(data){
                    // Add failure prompt
                    toastr.success("User has been successfully added!")
                    appendToList(data.lm);
                },
                dataType:"json"
            })
        })

        $('input').on('change keypress',function(){
            $('#submitLM').removeClass('hidden');
        })

        $('.deleteLM').on('click',function(e){
            e.preventDefault();
            if(confirm("Are you sure you want to delete this line manager?")){
                var id = $(this).parent().find('._id').text();
                $(this).parent().remove()
                var data = {_id: id, collection: "lineManagers"};
                $.ajax({
                    type:"POST",
                    url:"/userManagement/deleteRecord",
                    data:data,
                    success:function(data){
                        toastr.success("Line manager has been successfully deleted.")
                    },
                    dataType:"json"
                })
            }
        })

        function appendToList(lm){
            var $newLM = $('.lmTemplate').clone().removeClass('lmTemplate hidden')
            for(key in lm){
                if(key === "dateCreated"){
                    var date = new Date(lm.dateCreated);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var date = date.getDate();
                    dateStr = month + "/" + date + "/" + year
                    $newLM.find('.'+key).text("Created: " + dateStr)
                }else
                    $newLM.find('.'+key).text(lm[key])
            }
            var href = '/userManagement/editRecord/' + lm._id + '?type=' + lm.type
            $newLM.attr('href',href)
            $('.usersList').append($newLM)
        }