mixin navBar
    #navigation-bar.collapse.navbar-collapse
        ul.nav.nav-pills.nav-stacked
            -if(currentlyLoggedIn.permissions.indexOf('viewRecipients') > -1)
                li
                    a.navItem(href="/userManagement/recipients") RECIPIENTS
            -if(currentlyLoggedIn.permissions.indexOf('viewLines') > -1)
                li
                    a.navItem(href="/userManagement/lines") LINES
            -if(currentlyLoggedIn.permissions.indexOf('viewLines') > -1)
                li
                    a.navItem(href="/userManagement/systemUsers") SYSTEM USERS
            -if(currentlyLoggedIn.permissions.indexOf('editSettings') > -1)
                li
                    a.navItem(href="/userManagement/settings") SETTINGS
            
            
#header-container-mobile.hidden-md.hidden-lg.row
    #header-menu-bar.col-xs-12.col-sm-12
        .row
            nav.navbar.navbar-default.col-xs-12.col-sm-12(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navigation-bar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                +navBar
.hidden-xs.hidden-sm
    +navBar
