.formSpacing{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.clearFloat{
    clear:both;
}

.loginSubmit:hover{
    color: #0F6312 !important;
}
.userContainer{
    padding: 20px 50px;
}
.headerText{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.newUser{
    background-color: #E6E6E6;
    border: 1px solid #000;
    border-radius: 5px;
}

#newUserForm{
    height: auto;
}

#newUserForm label, #newUserForm input{
    display: block;
}
#newUserForm .fieldContainer{
    float: left;
    padding: 15px;
}

.listUser{
    background-color: #E6E6E6;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
}
.listUser p{
    display: block;
    float: left;
    padding: 15px 25px;
}
p.strong{
    font-weight: 700;
}